.container{
    padding-top: 2em;
}
.project-intro{
    font-weight: 400;
    font-size: 1.2em;
    color :rgb(204, 202, 202);
}

.card{
    margin-top: 4em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
.card-tittle,.card-img{
    max-width: 50vw;
    margin: 3px auto;
    color: whitesmoke;
    cursor : pointer;
    font-size: 20px;
    font-weight: 600;
}
.card-img{
    border-radius: 10px;
    display: inline-block;
    
}
.card-desc{
    max-width: 50vw;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 600;   
    padding-top: 1em;
    display: inline;
    cursor: pointer;
    font-size: 19px;
    color :rgb(185, 238, 233);
}

.card{
    margin-top: 4em;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 800;   
    font-size: 35px;
 
}
 .project-intro{
    font-family: 'Fira Sans', sans-serif;
    max-width: 50vw;
    display: block;
    margin: 0 auto;
    text-align: center;
}
@media screen and (max-width : 63.9375em)
{
    .card-img {
        max-width: 80vw;
        max-height: 400px;
    }
    .card-tittle, .card-desc,.project-intro{
         max-width: 80vw;
         text-align: justify;
    }
}

a{
    text-decoration: none;
}