.header{
    height: 20em;
    background-color: rgb(27, 26, 26);
   padding-top: 10px;
}
Link{
  color: #0060B6;
  text-decoration: none;
  
}
.img-HongTan{
    position: absolute;
    max-height: 70%;
    max-width: 70%;
    top:10%;
    left: 4%;
    z-index: 3;
}
@media screen and (max-width:64em)
{
  .img-HongTan{
    z-index: 1;
    left: 6%;
  }
}

.nav{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.nav-bar{
    /* max-width: 80%; */
    list-style-type: none;
    display: flex;
}
.item-nav{
    border-style: dotted; 
    border-radius: 50%;
    padding : 40px;
    border-color: #548ca3;
   margin-left:3em ;
   margin-right: 3em;
   cursor : pointer;
   color : #803541;
}

.discription{
  
  position: absolute;
  background-color: #c43e3f;
  font-size: 20px;
  color : white;
  padding : 10px 30px 10px 30px;
  font-family: "Comic Sans MS", cursive, sans-serif;
 
}
.item-nav:hover {
  border-color: white;
}

@media screen and (max-width : 63.9375em)
{
  .nav{
    left: 50%;
    top: 50%;
    transform: translateX(-50%, -50%);
  }
  .nav-bar{
    flex-direction: column;
  }
  .item-nav{
      border-radius: 10px;
      padding: 5px 60px 5px 60px;
      margin-top: 0.6em;
      border-style:solid;
      margin-left:0 ;
    margin-right: 0;
     
  }
  svg{
    height: 40px;
    width: 40px;
  }
  .discription
  {
    position: static;
    color: white;
    text-decoration: none;
    font-size: 15px;
    min-width: 100px;
    text-align: center;
    background-color: transparent;
    font-family: 'Economica', sans-serif;
    
  }
  .item-nav{
    display: flex;
  }
}


.loader {
    position: absolute;
    top:38%;
    left: 15%;
    border: 5px solid #100D0D;
    border-radius: 50%;
    border-top: 5px solid  white;
    border-bottom: 5px solid  white;
    width: 30px;
    height: 30px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
  }
  
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  /* Hidden loading in mobile*/
  @media screen and (max-width : 46.1875em) {
    .loader{
      display: none;
    }
  }