
.title{
    padding-left: 4em;
    background-color: #548ca3;
    height: 20vh;
       
    display: flex;
}
h1{
    color: #3d6879;
    font-family: 'Quicksand', sans-serif;
    font-size: 1.5em;
    text-decoration: none;
    text-transform: uppercase;
    text-shadow: 2px 2px 3px rgb(255 255 255 / 10%);
}
@media screen and (max-width : 46.1875em) {
    h1{
        font-size: 1em;
    }
}
.logo-tittle{
    cursor: pointer;     
    margin: auto;
    text-decoration: none
}
